@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}
#defaultCanvas0 {
  width: 100% !important;
  height: 100% !important;
}
#infoText {
  position: absolute;
  left: 50%;
  font-size: 28px;
  transform: translateX(-50%);
}
